/* css resets start*/

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

input {
  margin: 0px;
  padding: 0px;
  height: 30px;
}

/* css resets end */

body {
  background-color: black;
  display: grid;
  grid-template-columns: 1.4fr 3fr;
}

#sidebar {
  background-color: darkred;
  display: flex;
  flex-direction: column;
}
#main {
  background-color: #aa336a;
  display: flex;
  flex-direction: column;
  position: relative;
}

.new-todo-button,
.new-project-button {
  align-self: flex-end;
  font-size: 30px;
  padding: 0px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 10px;
  border: none;
}

#main-container {
  padding: 10px;
}

#sidebar-container {
  padding: 10px;
}

.todo-card {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  justify-content: space-between;

  padding-inline: 20px;
  margin-block: 10px;
  border-radius: 10px;
}

.project-card {
  background-color: bisque;

  padding-block: 10px;
  padding-inline: 10px;
  margin-block: 10px;
  border-radius: 10px;
}

.project-card-name {
  margin: 0px;
}

#create-todo-dialog {
  box-sizing: border-box;
  border-radius: 10px;
  /* height: 90%; */
  width: 60%;
}

form {
}

.new-project-button-container {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.new-project-button-container input {
  flex-basis: 50%;
  border-radius: 5px;
}
